{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "stylesheets/login.css" %}" rel="stylesheet">
    <link href="{% static "stylesheets/chat.css" %}" rel="stylesheet">
    <link href="{% static "stylesheets/font-awesome.min.css" %}" rel="stylesheet">
    
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/js.cookie.js" %}"></script>
    {% bootstrap_css %}
    <link href="{% static "stylesheets/main.css" %}" rel="stylesheet">
    <link href="{% static "stylesheets/custom.css" %}" rel="stylesheet">
    {% bootstrap_javascript %}

    

</head>
<body>
    <div class="container home-bg" style="min-height:100vh;">
      <div class="home-sec" style="text-align:center;margin: 70px 20px;">
          <a href="https://www.daffodilvarsity.edu.bd/" target="_blank"><img src="{% static 'img/daffodil-logo.png' %}" height="150px" width="150px" style="margin: 15px;"></a>
          <h1 style="font-size:50px">DIU Chatting Portal</h1>
          <p style="font-size:20px">Welcome to DIU chatting portal. Find yourself a course chatroom of your courses<br>
          or get university information from our intelligent ChatBot</p>
          <div style="margin:30px;">
            
            <a href="{% url "index" %}"><button class="btn btn-success home-btn" style="width:15%;">ChatBot</button></a>
            {% if request.user.is_authenticated %}
            <a href="{% url "chat" %}"><button class="btn btn-primary home-btn" style="width: 15%;height: 50px;">ChatRoom</button></a>
            {% else %}
            <a href="{% url "login" %}"><button class="btn btn-primary home-btn" style="width: 15%;height: 50px;">Login</button></a>
            {% endif %}
          
          </div>
      </div>
    </div>
</body>
{% block js %}
{% endblock %}
</html>